

body {
    background-color: #0000;
    color: #F3F5FC;
    font-family: 'Matrix', 'sans-serif';
    font-size: 1.5rem;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 40px auto;
}

.leftItens {
    display: grid;
    align-content: space-between;
}


/* ----------Input txt inicial------------- */


.textLocal input {
    width: 680px;
    height: 48px;
    font-size: x-large;
}

/* --------------Box Area/Mensagem Erro----------- */
.title {
    text-transform: uppercase;

    /* Alterar Media queries */
    position: relative;
    bottom: 40px;
    right: 84px;
}

#digiteTexto {
    background-color: #F3F5FC;
    backdrop-filter: blur(10px);
    border: 1px rgba(5, 35, 23, 0.35) solid;
    

    /* Alterar Media queries */
    position: relative;
    left: 20px;
    bottom: 168px;
}

.localTexto {
    color: #000;
}
.localTextoError {
    margin-bottom: 50px;
    padding: 15px;
    width: 370px;
    height: 550px;
    overflow: auto;
    word-wrap: break-word;
}

.boxArea,
.boxAreaError {
    display: grid;
    align-content: center;
    border: 1px solid #0000;
    border-radius: 32px;
    /* Alterar Media queries */
    width: 400px;
    height: 840px;
    text-align: center;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
}

.boxAreaError {
    background-color: rgba(255, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border: 1px #f00 solid;
}

.localTexto,
.localTextoError {
    padding: 15px;
    width: 370px;
    height: 550px;
    overflow: auto;
    word-wrap: break-word;
}

.localTextoError {
    height: 200px;
}



.msgInicial .titulo,
.msg_error .titulo {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.msgInicial .msn_alerta {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 336px;
}

.msg_error .msn_alerta {
    font-size: 20px;
}

.msg_error {
    text-transform: uppercase;
}

.alertVetor{
    color:#000;
}

.pError {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.pError {
    color: #f00;
}

.vetor,
.vetorError {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #000;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 10px;
}

.vetorError {
    background-color: #f00;
}


/*-------------------- Buttons---------------------- */

.boxButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 24px;
    gap: 8;
    /* border: #fff 1px solid; */
}

.buttonCriptografar,
.buttonDescriptografar {
    width: 328px;
    height: 67px;
    margin-left: 5px;
    border: 1px solid #AEE5C0;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.buttonCriptografar {
    background-color: #0A3871;
}

.buttonCriptografar:hover,
.buttonDescriptografar:hover,
#copiar:hover {
    transform: scale(1.06);
}

#copiar {
    width: 336px;
    height: hug(64px);
    border-radius: 24px;
    padding: 24px;
    background-color: #0A3871;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;}
